
body {
    padding-bottom: 100px;
    background: #6CA6CD;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.top-buffer {
    margin-top: 10px;
}

.panel {
    background: rgba(248, 248, 255, 0.7);
}

.thumbnail img:hover {
    transform: scale(1.25);
}

.thumbnail img {
    transition: all 0.5s ease 0s;
}

.table-bordered {
    background: #FFFFFF
}

.homepadding {
    padding-bottom: 50px;
}


.navbar-default {
    background-color: #2C3E50;
    border-color:  #2C3E50;
    color: #FFFFFF;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-text { 
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
    background-color: #35586C;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color:#FFFFFF;
    background-color: #1E2A36;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
    background-color: #35586C;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus, {
    background-color: #4169E1;
    color: #FFFFFF;
}

.icon-bar {
   background-color:#FFFFFF !important;
}

.btn-primary {
    background-color: #2C3E50;
    border-color: #2C3E50;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFFFFF;
    background-color: #4169E1;
    border-color: #161F29;
}

.carouselpadding {
    padding-bottom: 100px;
}

.icon-bar {
    color :#FFFFFF;
}

.correctedimage {
    width: 1300px;
    height: 1500px;
    overflow: auto;

}

.cover-container {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(images/IMG_2407.JPG) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

.h3padding {
   padding-bottom: 20px;
}
