
body {
    padding-bottom: 100px;
    background: #8F8F8F;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.top-buffer {
    margin-top: 10px;
}

.panel {
    background: rgba(248, 248, 255, 0.7);
}

.thumbnail img:hover {
    transform: scale(1.25);
}

.thumbnail img {
    transition: all 0.5s ease 0s;
}

.table-bordered {
    background: #FFFFFF
}

.homepadding {
    padding-bottom: 50px;
}




.btn-primary {
    background-color: rgb(31,31,31);
    border-color: rgb(31,31,31);
    color: #FFFFFF;
}

.btn-danger {
    background-color: #B22222;
    border-color: #B22222;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #FFFFFF !important;
    background-color: #B22222 !important;
    border-color: #B22222 !important;
}

.carouselpadding {
    padding-bottom: 100px;
}

.icon-bar {
    color :#FFFFFF;
}

.correctedimage {
    width: 1300px;
    height: 1500px;
    overflow: auto;

}

.cover-container {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(images/IMG_2407.JPG) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
}

.h3padding {
   padding-bottom: 20px;
}
